adf/pipeline/PL_Master_Orchestration.json
{
  "name": "PL_Master_Orchestration",
  "properties": {
    "description": "Master pipeline: reads an active-sources control table, fans out to PL_Ingest_ParamSource per source in parallel, then chains Bronze->Silver->Gold Databricks notebooks. Reusable/parameterized pattern - adding a new marketing data source means adding one row to the control table, not a new pipeline.",
    "parameters": {
      "runDate": { "type": "string", "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')" }
    },
    "activities": [
      {
        "name": "LookupActiveSources",
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT source_name, file_format FROM ctl.active_sources WHERE is_active = 1"
          },
          "dataset": { "referenceName": "DS_ControlTable", "type": "DatasetReference" }
        }
      },
      {
        "name": "ForEachSource_Ingest",
        "type": "ForEach",
        "dependsOn": [{ "activity": "LookupActiveSources", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "items": { "value": "@activity('LookupActiveSources').output.value", "type": "Expression" },
          "isSequential": false,
          "batchCount": 4,
          "activities": [
            {
              "name": "ExecutePL_Ingest_ParamSource",
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": { "referenceName": "PL_Ingest_ParamSource", "type": "PipelineReference" },
                "parameters": {
                  "sourceName": "@item().source_name",
                  "fileFormat": "@item().file_format",
                  "ingestDate": "@pipeline().parameters.runDate"
                },
                "waitOnCompletion": true
              }
            }
          ]
        }
      },
      {
        "name": "Notebook_GoldAggregates",
        "type": "DatabricksNotebook",
        "dependsOn": [{ "activity": "ForEachSource_Ingest", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "notebookPath": "/Repos/bluestacks-data-pipeline/notebooks/03_gold_aggregates",
          "baseParameters": { "run_date": "@pipeline().parameters.runDate" }
        },
        "linkedServiceName": { "referenceName": "LS_BSI_Databricks", "type": "LinkedServiceReference" },
        "policy": { "timeout": "0.02:00:00", "retry": 1, "retryIntervalInSeconds": 120 }
      },
      {
        "name": "OnFailure_AlertWebhook",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "ForEachSource_Ingest", "dependencyConditions": ["Failed"] },
          { "activity": "Notebook_GoldAggregates", "dependencyConditions": ["Failed"] }
        ],
        "typeProperties": {
          "url": "https://prod-logic-app-alert.azurewebsites.net/api/adf-failure-alert",
          "method": "POST",
          "body": {
            "pipeline": "PL_Master_Orchestration",
            "runId": "@pipeline().RunId",
            "runDate": "@pipeline().parameters.runDate"
          }
        }
      }
    ]
  }
}
